:root {
  --cor-primaria: #2596d8;
  --cor-secundaria: #000000;
  --cor-fundo: #f8f9fa;
  --cor-texto: #000000;
  --espacamento: 1.5rem;
  --fonte-principal: "Poppins", Arial, sans-serif;
}

@import url('base.css');
@import url('layout.css');
@import url('components.css');
@import url('sections.css');