:root {
  --cor-primaria: #0078ff;
  --cor-secundaria: #111;
  --cor-fundo: #f8f9fa;
  --cor-texto: #333;
  --espacamento: 1.5rem;
  --fonte-principal: "Poppins", Arial, sans-serif;
}

@import url('base.css');
@import url('layout.css');
@import url('components.css');
@import url('sections.css');