$font-stack: 'Helvetica, Arial, sans-serif';
$base-font-size: 16px;
$heading-font-family: 'Georgia, serif';
$heading-font-size: 2em;
$subheading-font-size: 1.5em;
$body-font-size: 1em;
$small-font-size: 0.875em;

$line-height: 1.5;
$font-weight-normal: 400;
$font-weight-bold: 700;