:root {
  --cor-primaria: #0078ff;
  --cor-secundaria: #111;
  --cor-fundo: #f8f9fa;
  --cor-texto: #333;
  --espacamento: 1.5rem;
  --fonte-principal: "Poppins", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-principal);
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
  line-height: 1.6;
}